---
# =========================================================================================================================================================
# ACI SERVER LEAF CONFIGURATION
# =========================================================================================================================================================

fabric: "ASSU_DB2"
apic_host: "196.66.128.243"
leaf : "{{ leaf }}"

pod_id: "1"
tenant: "TN001"
tenant_alias: "ASSU"


# ============================================================================================================================================================
# INTERFACES CONFIGURATION
# ============================================================================================================================================================

{% for intf in list_interfaces %}

eth{{ nodeA }}_1_{{ intf }}:
  automation: "on"
  description: ""
  admin_state: "up"  
  type: "switch_port"
  config_type_switch_port: 
  - { ap: "ASSU_AP", mode: "trunk", vlans: [ "" ] }
  - { ap: "ASSU_AP", mode: "native", vlans: [ "" ] }
  - { ap: "ASSU_AP", mode: "access", vlans: [ "" ] }
  config_type_vpc:
  - { ap: "ASSU_AP", mode: "trunk", vlans: [ "" ] }

eth{{ nodeB }}_1_{{ intf }}:
  automation: "on"
  description: ""
  admin_state: "up"  
  type: "switch_port"
  config_type_switch_port: 
  - { ap: "ASSU_AP", mode: "trunk", vlans: [ "" ] }
  - { ap: "ASSU_AP", mode: "native", vlans: [ "" ] }
  - { ap: "ASSU_AP", mode: "access", vlans: [ "" ] }
  config_type_vpc:
  - { ap: "ASSU_AP", mode: "trunk", vlans: [ "" ] }

{% endfor%}
